dingding_token="your_dingding_token_here"  # 替换为你的钉钉机器人 Webhook 地址
binance_accounts="binance_announcement,binance_news,binancezh" # 用逗号分隔的币安广场账号列表
effective_time=10  # 新闻有效时间，离现在过去多久，单位为分钟
semaphore_limit=1  # 并发限制