dingding_token="your_dingding_token_here"  # 替换为你的钉钉机器人 Webhook 地址
binance_accounts="binance_announcement,binance_news,binancezh" # 用逗号分隔的币安广场账号列表
keywords="活动,奖励,Alpha,上线,上市,alpha,空投,赠送,福利,送出,补贴,交易大赛,交易竞赛,抽取,抽奖,赠币,奖励金,奖励计划,信号"  # 用逗号分隔的关键词列表
effective_time=10  # 新闻有效时间，离现在过去多久，单位为分钟
semaphore_limit=1  # 并发限制